* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  background-color: white;
  border: none;
}
